<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<!-- No pongan el xml version porque se rompe IE6  -->
<!-- $Id$ -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
{% spaceless %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Script-Type" content="text/javascript"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<meta http-equiv="Content-Language" content="es"/>
	<meta name="Language" content="Spanish"/>
	<meta name="viewport" content="width=850"/>

	<meta property="og:site_name" content="Regal&aacute; tu foto"/>
	<meta property="fb:page_id" content="173317640047" />
	
	{% if Title %}
	<title>{{ MetaTitle|default:Title }} | Regal&aacute; tu foto</title>
	{% block meta_title %}
	<meta name="title" content="{{ MetaTitle|default:Title }}"/>
	<meta property="og:title" content="{{ MetaTitle|default:Title }}"/>
	{% endblock meta_title %}
	{% endif %}
	
	{% block meta_description %}{% if Description %}
	<meta name="description" content="{{ Description }}"/>
	<meta property="og:description" content="{{ Description }}"/>
	{% endif %}
	{% endblock meta_description %}
	
	{% if meta_page_image %}
	<link rel="image_src" href='{{ host_url }}{{ meta_page_image }}' />
	<meta property="og:image" content="{{ host_url }}{{ meta_page_image }}"/>
	{% endif %}

	{% block meta_page_url %}{% if meta_page_url %}
	<link rel="canonical" href='{{ host_url }}{{ meta_page_url }}' />
	<meta property="og:url" content="{{ host_url }}{{ meta_page_url }}"/>
	{% endif %}
	{% endblock meta_page_url %}

	{% block meta_page_medium %}{% if meta_page_medium %}
	<meta name="medium" content="{{ meta_page_medium }}"/>
	{% endif %}
	{% endblock meta_page_medium %}
	
	{% block meta_page_type %}
	<meta property="og:type" content="{{ meta_page_type }}"/>
	{% endblock meta_page_type %}
	
	{% block meta_tags %}{% endblock %}
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.1.0/build/cssfonts/fonts-min.css&amp;3.1.0/build/cssreset/reset-min.css&amp;3.1.0/build/cssbase/base-min.css"/>
	<link type="text/css" rel="stylesheet" media="screen" href="{{ url_rtf_css }}"/>
	<!--[if IE 7]>
	<link type="text/css" rel="stylesheet" media="screen" href="{{ url_rtf_ie7_css }}"/>
	<![endif]-->
	<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="{{ url_regalatufoto_js }}"></script>
	<script type="text/javascript" src="http://connect.facebook.net/es_LA/all.js#xfbml=1"></script>
	<script type="text/javascript" src="http://apis.google.com/js/plusone.js">{lang: 'es-419'}</script>
	<script type="text/javascript">
	var _gaq = _gaq || []; _gaq.push(['_setAccount', '{{ ga_account }}']); _gaq.push(['_trackPageview']); _gaq.push(['_trackPageLoadTime']);{% block ga_events %}{% endblock %}
	var addthis_config = {ui_language: "es",username:"marianobntz", data_ga_property: '{{ ga_account }}', data_track_clickback: true, ui_cobrand: "Regal&aacute; tu foto!", ui_header_color: "#FFFFFF", ui_header_background: "#9AC6C6",};
	
	$(baseReady);
	(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
	</script>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=marianobntz"></script>
	{% block styles_scripts %}{% endblock %}

</head>
{% block body_open_tag %}<body id="{% block body_id %}rtf{% endblock %}" class="rtf">{% endblock %}
	<div id="content">
		<a id="rtf_logo_nav" href="{% url SiteHome %}?ref=lg" title="Inicio"></a>
		<div id="rtf_banner_nav">Dise&ntilde;o personalizado, fotomontaje digital, revelado fotogr&aacute;fico, sin moverte de tu casa.</div>
		{% block top-nav %}
		<div id="top-nav" class="title_bar">
			<div id="top-nav-content" class="title_links">
				<form id="search" action="{% url Search %}">
					<p>
						<a href="{% url SiteHome %}?ref=header">Inicio</a> 
						<a href='{% url AlbumsHome %}?ref=header'>Modelos</a>
						<a href='{% url Productos %}?ref=header'>Productos</a>
						<a href="{% url contacto %}?ref=header">Contacto</a> 
						<label>Buscar <input id="search_text" class="title_input" type="text" name="q" size="10" /></label><input type="submit" id="search_submit" value="&raquo;&raquo;"/>
					</p>
				</form>
			</div>
		</div>
		{% endblock %}
		{% block left-nav %}
		<div id="left-nav">
			<div id="left-nav-content">
				<ul class="top modelos">
					{% for a in footer.occasions %}<li><a href='{% url AlbumView a.key %}' title="Modelos de {{ a.title }}">{{ a.title }}</a></li>{% endfor %}
				</ul>
				{% block facebook %}
				<ul class="top">
					<li>
						<br/>
						<fb:like href='{% block facebook_ref %}{{ host_url }}{{ meta_page_url }}{% endblock %}' layout="box_count"></fb:like>
						<br/>
						<br/>
						<g:plusone size="tall"></g:plusone>
						<br/>
						<br/>
						<div class="addthis_toolbox addthis_default_style ">
							<a href="http://www.addthis.com/bookmark.php?v=250&amp;pubid=marianobntz" class="addthis_button_compact">Compartir</a>
						</div>
					</li>
				</ul>
				{% endblock %}
			</div>
		</div>
		{% endblock %}
		<div id="main-content">
			<div id="body" class="rtf">{% block content %}{% endblock %}</div>
			{% block after_all %}{% endblock %}
		</div>
		<div id="footer" class="rtf">
			<div id="footer-columns">
				<ul class="column_2">
					<li class="title"><a href='{% url AlbumsHome %}?ref=fl'>Modelos</a></li>
					<li><a href='{% url AlbumView "cumples" %}?ref=fl'>Cumpleaños</a></li>
					<li><a href='{% url AlbumView "nacimientos" %}?ref=fl'>Nacimientos</a></li>
					<li><a href='{% url AlbumView "bautismos" %}?ref=fl'>Bautismos</a></li>
					<li><a href='{% url AlbumView "comuniones" %}?ref=fl'>Comuniones</a></li>
					<li><a href='{% url AlbumView "quince" %}?ref=fl'>Quince años</a></li>
					<li><a href='{% url AlbumView "casamientos" %}?ref=fl'>Casamientos</a></li>
					<li><a href='{% url AlbumView "mayores" %}?ref=fl'>Mayores</a></li>
					<li><a href='{% url AlbumView "gratis" %}?ref=fl'>Gratuitas</a></li>
				</ul>
				<ul class="column_2">
					<li class="title"><a href='{% url Productos %}?ref=fl'>Productos</a></li>
					<li><a href='{% url ProductoTarjetas %}?ref=fl' title="Fototarjetas">Tarjetas</a></li>
					<li><a href='{% url ProductoAlmanaques %}?ref=fl' title="Almanaques">Almanaques</a></li>
					<li><a href='{% url ProductoPosters %}?ref=fl' title="Posters">Posters</a></li>
					<li><a href='{% url ProductoComplementos %}?ref=fl' title="Complementos">Complementos</a></li>
					<li><a href='{% url ProductoDigital %}?ref=fl' title="Archivo Digital">Archivo Digital</a></li>
				</ul>
				<ul class="column_2">
					<li class="title"><a href="{% url SiteHome %}?ref=fl">Inicio</a></li>
					<li class="title"><a href="{% url Novedades %}?ref=fl">Novedades</a></li>
					<li class="title"><a href="{% url preguntas-frecuentes  %}?ref=fl">Preguntas Frecuentes</a></li>
					<li>&nbsp;</li>
					<li class="title"><a href="{% url nosotros %}?ref=fl">Nosotros</a></li>
					<li><a href="{% url como_hacemos %}?ref=fl">Como hacemos</a></li>
					<li><a href="{% url envio-y-pago %}?ref=fl">Forma de envío<br/>Medios de pago</a></li>
					<li><a href="{% url precios %}?ref=fl">Precios</a></li>
				</ul>
				<ul class="column_2">
					<li class="title"><a href="{% url contacto %}?ref=fl">Contáctenos</a></li>
					<li><a href="{% url CrearPedidoView %}?ref=fl">Pedidos</a></li>
					<li><a href="{% url Opiniones %}?ref=fl">Opiniones</a></li>
					<li><a href="{% url consultas %}?ref=fl">Consultas</a></li>
				</ul>
				<ul class="column_1">
					<li>&nbsp;</li>
				</ul>
			</div>
			<div class="bottom">
				<form id="newsletter_form1" class="tc_form1" method="post" action="http://oi.vresp.com?fid=08b70d53d7" >
					<div class="column_right www">
						<p>
							<!-- <label for="newsletter_email">Anotate en nuestro newsletter</label>
						    <input id="newsletter_email" type="email" name="email_address" class="rtf_input" required="required"/>
							<input type="submit" value="&raquo;&raquo;" class="rtf_input" id="search_submit"/>&nbsp;&nbsp;&nbsp;&nbsp; -->
							<a href="{% url MapaSitio %}">mapa del sitio</a> &nbsp;&nbsp;
							<a href="mailto:webmaster@regalatutofoto.com.ar">webmaster</a> &nbsp;&nbsp;
							<em><a href="{% url development %}" title="Como hacemos este sitio.">@2010 Versalitas</a></em>
						</p>
					</div>
				</form>
			</div>
		</div>
</div>

<div id="fb-root"></div>
{% block after_content %}{% endblock %}

{% block scripts %}{% endblock %}
<!--[if lte IE 7]><script type="text/javascript">if (document && document.execCommand){try{document.execCommand("BackgroundImageCache",false, true);}catch (e) {}}</script><![endif]-->
</body>
{% endspaceless %}
</html>
