{# $Id$ #}
{% set Title = 'Indice' %}
{% set Description = 'Sitio nuevo' %}
{% set meta_page_url = uri_for(route_name, _canonical=True) %}
{% set meta_page_type = 'website' %}
{% extends "base/html/base_.html" %}
{% block body %}
<h1>Holaa! {{ Title }}</h1>
<h2>{{ Description }}</h2>

<a href="/_ah/admin">Local Admin</a><br/>
<a href="{{ uri_for('sitemap') }}">Sitemap</a><br/>

<a href="{{ uri_for(route_name, _netloc=canonical_netloc ) }}">{{ uri_for(route_name, _netloc=canonical_netloc ) }}</a><br/>

<a href="{{ uri_for('rtf.css') }}">{{ uri_for('rtf.css') }}</a><br/>

{{ uri_for('index', _full=true) }} - directory handler<br/>
<br/>
<a href="{{ uri_for('modelos') }}">Modelos</a><br/>
<a href="{{ uri_for('modelo', id='00001' ) }}">Modelo AA</a>
{% endblock %}
